<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>JSLocal</display-name>

	<error-page>
		<error-code>403</error-code>
		<location>/_err/403.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/_err/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/_err/500.jsp</location>
	</error-page>

	<filter>
		<filter-name>LocaleFilter</filter-name>
		<filter-class>com.localeplanet.i18n.LocaleFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
	   		<param-name>logLevel</param-name>
            <param-value>sysout:DEBUG</param-value>
		</init-param>
		<init-param>
            <param-name>statusEnabledOnHosts</param-name>
            <param-value>localhost, www.localeplanet.com</param-value>
        </init-param>
        <init-param>
            <param-name>statusPath</param-name>
            <param-value>/support/rewrite.html</param-value>
        </init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>LocaleFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>_ah_warmup</servlet-name>
		<servlet-class>com.localeplanet.common.WarmupServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>_ah_warmup</servlet-name>
		<url-pattern>/_ah/warmup</url-pattern>
	</servlet-mapping>
	
</web-app>
