@media (min-width: 980px) {
body {
	padding-top: 60px;
}
}

.btn-jumbo {
	border-radius: 6px 6px 6px 6px;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 25px;
	margin-top: 15px;
	padding: 14px 24px;
}

.addthis_toolbox {
	margin-top: 6px;
}

.section-header {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin-bottom: 17px;
	margin-top: 17px;
	border-bottom: 1px solid #EEE;
}

.navbar .brand { font-size: 24px; font-weight: bold; font-style: normal; color:#ffffff}

